@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

.quote-box {
  border-radius: 4px;
  position: relative;
  width: 540px;
  margin: 100px auto;
  padding: 100px auto;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  background: #f7f7f7;
  padding: 50px 50px 20px 50px;
}
body {
  background: #16a085;
}
.quote-text {
  font-weight: 500;
  font-size: 1.75em;
  margin-top: 0;
  font-size: 30px;
  font-weight: normal;
  color: #16a085;
}
.author-text {
  font-weight: normal;
  color: #16a085;
  text-align: right;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
.quote-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.button {
  height: 40px;
  border: none;
  border-radius: 3px;
  color: #fff;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  margin-top: 20px;
  user-select: none;
}
.new-quote {
  background-color: #16a085;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
#tweet-quote {
  background-color: #16a085;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.footer {
  width: 450px;
  text-align: center;
  display: block;
  margin: 15px auto 10px auto;
  font-size: 0.8em;
  color: #fff;
}
a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
